@model IEnumerable<Ticket>

<body class="bodyCustomer">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="container">
                <div class="row">
                    @{
                        var count = 0;
                    }
                    @foreach (var ticket in Model)
                    {
                        <div class="carousel-item @(count == 0 ? "active" : null) ">
                            <img class="d-block w-100 container" src="~/images/theater-g.jpg" alt="Segundo Slide">
                            <div class="carousel-caption d-none d-md-block carouselCustomer">
                                @*<h5 class="text-dark">Teste</h5>
                                    <p class="text-dark">teste</p>*@

                                <div class="col-md-8 container w-100">
                                    <div class="card mb-4 shadow-sm">
                                        <div class="card-header">
                                            <h4 class="my-0 font-weight-normal text-dark">@Html.DisplayFor(x => ticket.Piece.Name)</h4>
                                        </div>
                                        <div class="card-body">
                                            <h1 class="card-title pricing-card-title text-dark">@ticket.Price.ToString("c")</h1>
                                            <ul class="list-unstyled mt-3 mb-4">
                                                <li class="text-dark">@ticket.Date.ToString("dd/MM/yyyy")</li>
                                                <li class="text-dark">@ticket.Schedule.ToString("hh\\:mm")</li>
                                            </ul>
                                            <a asp-controller="GeneratedTickets" asp-action="Create" asp-route-ticketId="@ticket.Id" class="btn btn-lg btn-block btn-success">Comprar</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        count++;
                    }

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</body>