@model GeneratedTicketViewModel

<div class="container marginTop1">

    <div class="jumbotron">
        <h2>Ticket gerado</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Peça : <strong>@Model.Ticket.Piece.Name</strong>
            <p>Data :  <strong>@Model.Ticket.Date.ToString("dd/MM/yyyy")</strong>
            <p>Horário : <strong>@Model.Ticket.Schedule.ToString("hh\\:mm")</strong></p>
            <p>Forma de pagamento : <strong>@Html.DisplayFor(x => x.FormOfPayment)</strong></p>
            <p>Assento reservado : <strong>@Model.Seat</strong></p>

            <h4>Valor Total: <strong>@*@((ViewBag.OrderTotal).ToString("C2")*@ @Model.Total.ToString("C2")</strong></h4>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Divirta-se!!</h4>
                <p>Obrigado por comprar no Teatro Estrela Show</p>
                <hr>
                <p class="mb-0">@Model.Description</p>
            </div>

        </div>
    </div>
</div>
