@model GeneratedTicketViewModel

<div class="container marginTop1">

    <div class="jumbotron">
        <h2>Ticket gerado</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Peça : <strong>@Model.Ticket.Piece.Name</strong>
            <p>Data :  <strong>@Model.Ticket.Date.ToString("dd/MM/yyyy")</strong>
            <p>Horário : <strong>@Model.Ticket.Schedule.ToString("hh\\:mm")</strong></p>
            <p>Forma de pagamento : <strong>@Html.DisplayFor(x => x.FormOfPayment)</strong></p>
            <p>Assento reservado : <strong>@Model.Seat</strong></p>

            @*<table class="table">
            <tr>
                <th></th>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th>Preço</th>
            </tr>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td><img src="~/img/snacks/@item.Snack.ImgUrl" width="40" height="40" /></td>
                    <td>@item.Quantity</td>
                    <td>@item.Snack.Name</td>
                    <td>@item.Snack.Price</td>
                </tr>
            }
        </table>*@
            <h4>Valor Total: <strong>@*@((ViewBag.OrderTotal).ToString("C2")*@ @Model.Total.ToString("C2")</strong></h4>
        </div>
    </div>
</div>
