@model IEnumerable<PieceViewModel>

    <div class="row">
        <div class="col-md-3">

            <h4>Peças Disponíveis</h4>

        </div>
        <div class="col-md-3">
            <a asp-action="Create" type="button" class="btn btn-primary">Cadastrar Peça</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.Id)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var piece in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => piece.Id)</td>
                    <td>@Html.DisplayFor(x => piece.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@piece.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@piece.Id">Detalhes</a>
                        <a asp-action="Inactivate" asp-route-id="@piece.Id">Inativar</a>
                    </td>
                </tr>
            }
    </table>
